<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0.30319" />
	</startup>
	<appSettings>
		<add key="ApplicationContext" value="Context-Production" />
		<add key="Context-Production" value="..\config\Server-Context.xml" />
	</appSettings>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="..\logs\server.log" />
			<encoding value="utf-8" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="1" />
			<maximumFileSize value="5MB" />
			<layout type="NCR.Log4net.CustomPattern.TickCountPatternLayout, NCRLog4netPatterns">
				<conversionPattern value="%date %tickCount [%thread] %-5level - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>
