<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0.30319" />
	</startup>
	<appSettings>
		<add key="database-connection" value="sqlite-connection" />
		<add key="sqlite-connection" value="Data Source=..\db\development.sqlite;Version=3.0" />
		<add key="mysql-connection" value="server=localhost;user id=root;database=sscat" />
		<add key="ApplicationContext" value="Context-Production" />
		<add key="Context-Production" value="..\config\Sscat-Context.xml" />
		<add key="Context-Test" value="..\config\Sscat-TestContext.xml" />
	</appSettings>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="..\logs\sscat.log" />
			<encoding value="utf-8" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="1" />
			<maximumFileSize value="5MB" />
			<layout type="NCR.Log4net.CustomPattern.TickCountPatternLayout, NCRLog4netPatterns">
				<conversionPattern value="%date %tickCount [%thread] %-5level - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>